# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#git ignore file 추가
#src/main/resources/application.yml
#src/main/java/com/example/demo/utils/JwtService.java
#src/main/java/com/example/demo/utils/SHA256.java
#src/main/java/com/example/demo/config/secret/Secret.java

application.yml
JwtService.java
SHA256.java
Secret.java